.Header{
    display: flex;
    width: 1299.25px;
    align-items: center;
    gap: 251px;
}
.Header-Icon{
display: flex;
width: 306.25px;
align-items: center;
gap: 33px;
flex-shrink: 0;
}
.Header-Logo-Text{
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 35px */
    color:#FFFFFF;
}